<!DOCTYPE html>
<html>
  <head>
    {% if title %}
        <title>Rbuilder: {{title}}</title>
    {% else %}
        <title>Rbuilder</title>
    {% endif %}
  </head>
  <body>
    <div><a href="/index">Home</a></div>
    <div><a href="/notifier">Notifier</a></div>
    <div><a href="/hermiona">Hermiona</a></div>
    <hr>

    {% block content %}
    {% endblock %}

    <div><p>mail.rbuilder@yandex.ru</p></div>

  </body>
</html>
